.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navLink {

  color: #fff;
  
}

.activeStyle {
  color: #4FC3A1;
  text-decoration: none;
  
}

.list{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap:27px;
  justify-content: center;
  border-top: 1px solid #EAEAEA;
  padding: 0%;
  margin: 0%;
padding-top:45px ;
padding-bottom: 63px;
}
/* .article{
  padding-bottom: 50px;
} */
.results{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;


margin-left: 15px;
color: #363636;
}
.card{
  max-width: 400px;
max-height:530px ;
 max-block-size: 400px;
min-block-size: 530px;
box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
border-radius: 5px;

}
.containerTypografy{
  height:235px;
}
.card-media{
  height: 217px;
 width: 400px;

}
.summary{
  overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      line-clamp: 3;
      box-orient: vertical;
 margin-bottom: 25px;

}
.date{
  opacity: 0.6;
}
.more{
  /* margin-left:25px; */
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
color: #363636;


}
.iconMore{
  margin-left: 6px;
}

.title{

  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;

}
.postTitle{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
margin-top: 35px;
color: #363636;
text-decoration: none;
}
.postSummary{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
height:auto;
color: #000000;
width: 1140px;

}

.container{
  display: flex;
  flex-direction: column;
}
.post-container{
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.goBack{
  position: absolute;
  bottom: -540px;
  left: 240px;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
color: #363636;
text-decoration: none;
display: flex;
align-items: center;
}
.iconCalendar{
  margin-right: 10px;
}
.back{
margin-right: 5px;
transform: matrix(-1, 0, 0, 1, 0, 0);
}
.cardPost{
  position: absolute;
  top: 150px;
  left:80px;
  max-width: 1290px;
height: auto;
padding-left:75px;
padding-right: 75px;
padding-bottom: 50px;
padding-top: 50px;
background: #FFFFFF;
border: 1px solid #EAEAEA;
box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
border-radius: 5px;
/* text-align: center; */
}

.search{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 40px;
  width: 1290px;
  margin-top: 50px;
  /* margin-left: 75px; */
  padding-left: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  
  
  color: #363636;
  
}
.search__input{
  width: 600px;
height: 50px;

}
.inputIcon{
  position: absolute;
  top: 45px;
  left: 35px;
  color: #575757;
  width: 20px;
  height: 20px;
}
.container_post{
  width: 1290px;
  margin-left: 75px;
}